@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import "./customstyles/custom-utilities.css";

:root {
  --bg-color: #f4eee2;
  --red: #ce5438;
  --orange: #ff9d19;
  --grey-dark: #354751;
  --grey: #d9d9d9; 
  --blue1: #1e9efc;
  --fd-blue: #4d84a4;
  --hit: #646cff;
  --green: #00b585;

  --black: #242611;
  --blue: #079df9;
  --orange: #f26b1d;
  --yellow: #ffe607;

  font-family: "acumin-variable", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: white;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  /* color: #354751; */
  color: #ce5438;
}

/* Text */
p {
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
  font-variation-settings:
    "slnt" 0,
    "wght" 800,
    "wdth" 80;
}

h1 {
  color: var(--grey-dark);
  font-variation-settings:
    "slnt" -12,
    "wght" 300,
    "wdth" 115;
  font-size: 6em;
  line-height: 1.1;
}
h3 {
  text-transform: uppercase;
  font-variation-settings:
    "slnt" 0,
    "wght" 820,
    "wdth" 100;
  color: var(--grey-dark);
  font-size: 1.8em;
  line-height: 1.1;
  font-weight: 300;
}

/* Buttons */


/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* custom stylings */

/* Color Scheme/Settings */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: white;
  } */
}
