@import "tailwindcss/base";
@import "./customstyles/custom-base-styles.css";

@import "tailwindcss/components";
@import "./customstyles/custom-components.css";

@import "tailwindcss/utilities";
@import "./customstyles/custom-utilities.css";

:root {
  --bg-color: #f4eee2;
  --red: #ce5438;
  --orange: #ff9d19;
  --orange-ol: #d67b04;
  --grey-dark: #354751;
  --grey: #67696e;
  --yellow: #eed069;
  --blue: #1e9efc;
  --blue-ol: #106aaa;
  --hit: #646cff;
  --hit-ol: #4b51ca;
  --green: #00b585;
  --green-ol: #027f5e;
  --opacity: 0.5;
  font-family: "acumin-variable", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  /* color: #354751; */
  color: #ce5438;
}

/* Text */
p {
  color: white;
  font-size: 1.3em;
  text-transform: uppercase;
  font-variation-settings:
    "slnt" 0,
    "wght" 800,
    "wdth" 80;
}

h1 {
  color: var(--grey-dark);
  font-variation-settings:
    "slnt" -12,
    "wght" 300,
    "wdth" 115;
  font-size: 6em;
  line-height: 1.1;
}
h3 {
  text-transform: uppercase;
  font-variation-settings:
    "slnt" 0,
    "wght" 820,
    "wdth" 100;
  color: var(--grey-dark);
  font-size: 1.8em;
  line-height: 1.1;
  font-weight: 300;
}

/* Buttons */
button {
  border-radius: 2px;
  padding: 0.6em 1.2em;
  font-variation-settings:
    "slnt" 0,
    "wght" 700,
    "wdth" 90;
  font-size: 1.2em;
  font-family: inherit;
  cursor: cell;
  transition: border-color 0.3s;
  transition: font-size 0.2s;
}
button:hover {
  border-color: var(--red);
}
button:active {
  font-variation-settings: "wght" 900;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* custom stylings */

/* Color Scheme/Settings */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--bg-color);
  }
}
